@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Ubuntu:wght@300&display=swap");

:root {
	--font-primary: Roboto, sans-serif;
	--font-secondary: Ubuntu, sans-serif;
	--font-weight: 400;
	--letter-spacing: 0.1rem;
	--line-heigth: 1.5;
	--color-primary-500: rgb(38, 70, 83);
	--color-secondary-500: rgb(42, 157, 143);
	--color-secondary-900: rgba(42, 157, 143, 0.2);
	--color-dark-500: rgb(107, 112, 92);
	--color-light-200: rgba(242, 242, 242, 0.8);
	--color-light-500: rgb(232, 232, 228);
	--color-white: rgb(255, 255, 255);
	--color-alert-confirmed-1: rgb(0, 209, 70);
	--color-alert-confirmed-2: rgba(42, 157, 143, 0.1);
	--color-alert-denied-1: rgb(247, 0, 33);
	--box-shadow-1: 2px 4px 10px rgba(107, 112, 92, 0.3);
	--box-shadow-2: 0 0 4px 2px rgba(42, 157, 143, 0.5);
	--box-shadow-3: 0 0 2px 1px rgba(0, 209, 70, 0.6);
	--box-shadow-4: 0 0 2px 1px rgba(247, 0, 33, 0.6);
	--radius-1: 0.5rem;
	--transition: all 0.3s ease;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-primary);
	font-weight: var(--font-weight);
	color: var(--color-primary-500);

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.575rem;
}

p span i {
	font-size: 0.75rem;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
	font-weight: var(--font-weight);
	color: var(--color-dark-500);
}

button {
	font-family: var(--font-primary);
	font-size: 1rem;
	border: none;
	background-color: none;
	margin: 0;
	padding: 0;
	color: var(--color-dark-500);
	letter-spacing: 1.25px;
	cursor: pointer;
}
/* general */

.section-center {
	width: 90vw;
	max-width: 450px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

/* LOADER */

.loading-displayer {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: grid;
	place-content: center;
	/* display: block; */
	z-index: 999;
}
.hide-loading {
	display: none;
}

/* INVITATION LIST */

.title-main {
	text-align: center;
	padding-left: 1rem;
	letter-spacing: var(--letter-spacing);
	font-family: var(--font-secondary);
	font-size: 2rem;
}
.people-list-container {
	/* position: relative; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light-200);
	width: 50vw;
	max-width: 350px;
	min-height: 50vh;
	gap: 1rem;
	padding: 1rem 1.5rem;
	padding-bottom: 2rem;
	border-radius: var(--radius-1);
	box-shadow: var(--box-shadow-1);
}
.people-list {
	/* list-style: decimal; */
	/* margin-bottom: 2rem; */
	flex: 1 0 auto;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
}
.people-list li {
	/* display: list-item;
	list-style-position: inside; */
	border-bottom: 1px solid grey;
	padding: 1.25rem 0.5rem;
	margin: 0;
}

.people-row {
	/* border-collapse: collapse; */
	display: grid;
	grid-template-columns: 0.5fr 1fr 3fr 2fr 1fr;
	justify-content: center;
	justify-items: left;
	align-items: center;
	flex-direction: row;
	/* gap: 5rem; */
	text-align: left;
}
.people-name {
	border: transparent;
	background-color: inherit;
	font-size: 1rem;
	text-transform: capitalize;
	width: 65%;
}
/* .input-disabled:disabled{} */

/*CHECKBOX*/
.checkbox {
	position: relative;
	border-radius: 0.15rem;
	border: 2px solid var(--color-primary-500);
	width: 1rem;
	height: 1rem;
	text-align: center;
}
.checkbox-confirmed,
.checkbox-denied {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	transition: all 0.3s linear;
}
.status-confirmed {
	color: var(--color-alert-confirmed-1);
}
.status-denied {
	color: var(--color-alert-denied-1);
}

.checkbox-icon-show {
	opacity: 1;
}

/* EDIT/ADD AND DELETE ICONS */

.people-delete-icon,
.people-add-icon {
	text-align: right;
	font-size: 0.875rem;
	color: grey;
	transition: all 0.3s linear;
}
.people-delete-icon:hover {
	color: var(--color-alert-denied-1);
}
.people-add-icon:hover {
	color: var(--color-alert-confirmed-1);
}

.people-row-btn {
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}
.people-guests {
	text-align: center;
}

/* TOTAL GUESTS COUNTER */
.total-guests-counter {
	display: grid;
	grid-template-columns: 4fr 1fr;
	justify-items: right;
	gap: 4rem;
	margin-bottom: 1rem;
}
.total-guests-counter p {
	font-size: 1rem;
	text-transform: capitalize;
	margin: 0;
}
/* .total-guests-title {
}
.total-guests-number {
} */

/* ADD PRIMARY GUESTS  */
.add-people-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"input1 input1 button"
		"input2 input2 button";
	gap: 0.15rem 0.25rem;
}
.add-people-container [data-input="people"] {
	grid-area: input1;
	padding: 0.35rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-primary-500);
}

.add-people-container [data-input="guests"] {
	grid-area: input2;
	padding: 0.35rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-primary-500);
}
.add-people-btn {
	grid-area: button;
	background-color: #fff;
	border: 1px solid grey;
	transition: all 0.3s linear;
	text-transform: capitalize;
	border-radius: 0.25rem;
	border: 1px solid var(--color-primary-500);
}
.add-people-btn:hover {
	background-color: honeydew;
}
::placeholder {
	opacity: 0.5;
	font-size: 0.75rem;
	line-height: 1.5;
}

.input-alert {
	border: 1px solid var(--color-alert-denied-1) !important;
	box-shadow: 0px 0px 3px var(--color-alert-denied-1);
}

/* SECONDARY GUESTS EDIT MODAL */
.secondary-guests-container {
	background: var(--color-light-500);
	position: absolute;
	gap: 0;
	min-height: fit-content;
	opacity: 0;
	z-index: -999;
}
.secondary-guests-show {
	opacity: 1;
	z-index: 999;
}
.people-row-secondary {
	display: grid;
	grid-template-columns: 0.5fr 4fr 2fr;
	justify-content: space-between;
	align-items: left;
}
.people-secondary-btn {
	align-self: right;
	align-content: flex-end;
}
.close-secondary-modal {
	align-self: flex-end;
	margin: 0;
	transition: all 0.3s linear;
	will-change: contents; /*fixed the text blur on chrome */
}
.close-secondary-modal:hover {
	transform: rotate(90deg) scale(1.1);
	color: var(--color-alert-denied-1);
}
.extra-guest-btn {
	margin-top: 1rem;
	padding: 0.35rem 0;
	transition: background-color 0.3s linear;
}
.extra-guest-btn:hover {
	background-color: var(--color-white);
}
